#############################################
# Varaibles
#############################################

resource_tags = {
  terraform = "true"
  project   = "aws-magic-tagging-resources"
  version   = "v1.5.0"
}
